{{extend 'layout.html'}}
        <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Shadows+Into+Light|Tangerine|Abel|Oswald" rel="stylesheet">

{{block head}}
{{end}}

        <head>
            <link rel="stylesheet" href="/Dheliver/static/css/aboutpage.css" />
        </head>
<div class="main_content">
    <center>
        <h2 style="font-family: 'Shadows Into Light', serif;">Who Are We?</h2>
    </center>

    <center>
        <h4 style="font-family: 'Abel', serif;font-size: x-large"> We are UC Santa Cruz's Premier Dining Hall Delivery System.
            We will deliver fresh food to you from any UC Santa Cruz Dining Hall directly to your dorm! </h4>
    </center>

    <center>
        <h4 style="font-family: 'Shadows Into Light', serif; font-size: x-large"> Meet our team!</h4>
    </center>
      <div class="container">
          <div class="quarter jkung1">
              <!--<h6 style="font-family:'Shadows Into Light', serif; font-size: large; margin-left: 5%">Jonathan Kung</h6>-->
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTCKE3YKND0wxIxCorNB72iOnDlFrIz8HxbHuIk9HhfJI5G7RoM1g" class="jkung2" height="200" width="160" style="margin-left: 25%"/>
              <div class="overlay">Jonathan</div>
          </div>
          <div class="quarter tipatel1">
              <!--<h6 style="font-family:'Shadows Into Light', serif; font-size: large; margin-left: 5%">Timesh Patel</h6>-->
              <img src="https://scontent-sjc3-1.xx.fbcdn.net/v/t31.0-8/12045448_1649134715344442_1406170928362008404_o.jpg?_nc_cat=0&oh=073489c6eff7512667ae3bf968e5bc68&oe=5B79F1A1" class="tipatel2" height="200" width="200" style="margin-left: 25%"/>
              <div class="overlay">Timesh</div>
          </div>
          <div class="quarter akpatnam1">
              <!--<h6 style="font-family:'Shadows Into Light', serif; font-size: large; margin-left: 5%">Aravind Patnam</h6>-->
              <img src="http://p.imgci.com/db/PICTURES/CMS/266900/266945.1.jpg" class="akpatnam2" height="200" width="170" style="margin-left: 25%"/>
              <div class="overlay">Aravind</div>
          </div>
          <div class="quarter srrangar1">
              <!--<h6 style="font-family:'Shadows Into Light', serif; font-size: large; margin-left: 5%">Srinivasan Rangarajan</h6>-->
              <img src="https://scontent-lax3-2.xx.fbcdn.net/v/t1.0-1/27654638_545271189169959_4335593587312886996_n.jpg?_nc_cat=0&oh=dc17cdc9869423f8ca59be60230c6b4a&oe=5B7F1F3A" class="srrangar2" height="200" width="200" style="margin-left: 25%"/>
              <div class="overlay">Srinivasan</div>
          </div>
      </div>
</div>
