{{extend 'layout.html'}}
        <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Shadows+Into+Light|Tangerine|Abel|Oswald" rel="stylesheet">

{{block head}}
{{end}}

<div class="main_content">
    <center>
        <h2 style="font-family: 'Shadows Into Light', serif;">Who Are We?</h2>
    </center>

    <center>
        <h4 style="font-family: 'Shadows Into Light', serif;font-size: x-large"> We are UC Santa Cruz's Premier Dining Hall Delivery System.
            We will deliver fresh food to you from any UC Santa Cruz Dining Hall directly to your dorm! </h4>
    </center>

    <center>
        <h4 style="font-family: 'Shadows Into Light', serif; font-size: x-large"> Meet our team!</h4>
    </center>
</div>