{{extend 'layout.html'}}
        <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Shadows+Into+Light|Tangerine|Abel|Oswald" rel="stylesheet">

{{block head}}
{{end}}

<div class="main_content">
    <center>
        <h2 style="font-family: 'Shadows Into Light', serif;">Who Are We?</h2>
    </center>

    <center>
        <h4 style="font-family: 'Shadows Into Light', serif;font-size: x-large"> We are UC Santa Cruz's Premier Dining Hall Delivery System.
            We will deliver fresh food to you from any UC Santa Cruz Dining Hall directly to your dorm! </h4>
    </center>

    <center>
        <h4 style="font-family: 'Shadows Into Light', serif; font-size: x-large"> Meet our team!</h4>
    </center>
    <div class="container">

        <div class="quarter">
            <h6 style="font-family:'Shadows Into Light', serif; font-size: large; margin-left: 4em">Jonathan Kung</h6>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTCKE3YKND0wxIxCorNB72iOnDlFrIz8HxbHuIk9HhfJI5G7RoM1g" height="200" width="160" />
        </div>
        <div class="quarter">
            <h6 style="font-family:'Shadows Into Light', serif; font-size: large; margin-left: 4em">Timesh Patel</h6>

            <img src="https://scontent-sjc3-1.xx.fbcdn.net/v/t31.0-8/12045448_1649134715344442_1406170928362008404_o.jpg?_nc_cat=0&oh=073489c6eff7512667ae3bf968e5bc68&oe=5B79F1A1" height="200" width="200" style="margin-left: 2em"/>

        </div>
        <div class="quarter">
            <h6 style="font-family:'Shadows Into Light', serif; font-size: large; margin-left: 4em">Aravind Patnam</h6>
            <img src="http://p.imgci.com/db/PICTURES/CMS/266900/266945.1.jpg" height="200" width="170" style="margin-left: 2em"/>
        </div>
        <div class="quarter">
            <h6 style="font-family:'Shadows Into Light', serif; font-size: large; margin-left: 4em">Srinivasan Rangarajan</h6>
            <img src="https://scontent-lax3-2.xx.fbcdn.net/v/t1.0-1/27654638_545271189169959_4335593587312886996_n.jpg?_nc_cat=0&oh=dc17cdc9869423f8ca59be60230c6b4a&oe=5B7F1F3A" height="200" width="200" style="margin-left: 2em"/>
        </div>
    </div>
</div>