{{extend 'layout.html'}}
        <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Shadows+Into+Light|Tangerine|Abel|Oswald" rel="stylesheet">
        <link rel="stylesheet" href="/Dheliver/static/css/order_menu.css" />
{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script src="{{=URL('static', 'js/default_index.js')}}"></script>
<script>

</script>

<div class="mycontent">

    <h1>Deliver Setup</h1>

    {{=form}}

    <div class="login_button">
        <a href="{{=URL('default', 'checkout')}}" class="btn rounded">Submit and Order by Card</a>
    </div>

    <a href="{{=URL('default', 'index')}}" class="btn rounded" onclick="cash_popup()">Submit and Order by Cash</a>

    <script>
        function cash_popup() {
            alert("Thanks for using Dheliver! Your order will arrive soon! Please pay $5 for the delivery when it arrives!");
        }
    </script>


</div>
