{{extend 'layout.html'}}

<h1>Deliver Checkout</h1>

Total: $5

<form action="{{=URL('default', 'order_paid')}}" method="POST">
<script
  src="https://checkout.stripe.com/checkout.js" class="stripe-button"
  data-key="pk_test_CeE2VVxAs3MWCUDMQpWe8KcX"
  data-amount="55"
  data-name="Our nice shopping cart"
  data-description="Cart content"
  data-billing-address="true"
  data-shipping-address="true"
  data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
  data-locale="auto">
</script>

</form>