{{extend 'layout.html'}}

{{block head}}
{{end}}

<!-- Adapted from Stripe Elements Quickstart -->

<html>
<link href="{{=URL('static','css/stripe.css')}}" rel="stylesheet" type="text/css"/>
<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
<meta content="utf-8" http-equiv="encoding">
<form action="/charge" method="post" id="payment-form">
  <div class="form-row">
    <label for="card-element">
      Credit or debit card
    </label>
    <div id="card-element">
      <!-- A Stripe Element will be inserted here. -->
    </div>

    <!-- Used to display form errors. -->
    <div id="card-errors" role="alert"></div>
  </div>

  <stripebutton>Submit Payment</stripebutton>
</form>
  <script src="https://js.stripe.com/v3/"></script>
  <script src="{{=URL('static', 'js/stripe.js')}}"></script>
</html>
