{{extend 'layout.html'}}
        <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Shadows+Into+Light|Tangerine|Abel|Oswald" rel="stylesheet">

{{block head}}
{{end}}

<div class="main_content">
    <center>
        <h2 style="font-family: 'Shadows Into Light', serif;">Deliveries Page</h2>
    </center>

     <div class="memo">
        <div class="memo_text">
          <div class="memo_title">asdf</div>
          <div class="memo_content">asdf</div>
        </div>
        <div>
          <div class="button_list">
            <div class="buttons">
                    <a class="btn rounded">
                          <i class="fa fa-plus"></i>
                    </a>
                 {{pass}}
            </div>
          </div>
        </div>
      </div>

</div>