{{extend 'layout.html'}}
        <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Shadows+Into+Light|Tangerine|Abel|Oswald" rel="stylesheet">
        <link href="Dheliver/static/css" rel="stylesheet" type="text/css"/>
{{block head}}
{{end}}

<div class="main_content">

    <center>
        <h2 style="font-family: 'Shadows Into Light', serif;">Frequently Asked Questions</h2>
    </center>



    <div class="qs">
        <div class="twothirds">
            <li style="font-family: 'Oswald', serif;font-size: xx-large">
              Q1: Can I order food from any UCSC Dining Hall?
            </li>
            <ul style="font-family: 'Abel', serif;font-size: xx-large">
              &nbsp A1: As long the DH is open you most certainly can!
            </ul>

            <br><br>

            <li style="font-family: 'Oswald', serif;font-size: xx-large">
              Q2: How can I pay for my delivery
            </li>
            <ul style="font-family: 'Abel', serif;font-size: xx-large">
              &nbsp A2: We proudly accept VISA, MasterCard, American Express, and Discover
            </ul>

            <br><br>

            <li style="font-family: 'Oswald', serif;font-size: xx-large">
              Q3: How many items can I order per delivery?
            </li>
            <ul style="font-family: 'Abel', serif;font-size: xx-large">
              &nbsp A3: You can order one item each delivery as per the UCSC Dining Hall Policy
            </ul>

            <br><br>

            <li style="font-family: 'Oswald', serif;font-size: xx-large">
              Q4: What meal times does Dheliver operate in?
            </li>
            <ul style="font-family: 'Abel', serif;font-size: xx-large">
              &nbsp A4: We can deliver foods for breakfast, lunch, dinner!
            </ul>

            <br><br><br><br><br><br><br><br><br><br><br><br>
        </div>
    </div>

    <div class="third">
        <div class="image">
            <img src="https://website.aub.edu.lb/sao/housing/PublishingImages/faq.png">
        </div>
     </div>
</div>
