{{extend 'layout.html'}}

{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
		var index_url = "{{=URL('api', 'index')}}";
		var memo_new_url = "{{=URL('api', 'memo_new', user_signature=True)}}";
		var memo_edit_url = "{{=URL('api', 'memo_edit', user_signature=True)}}";
		var memo_toggle_public_url = "{{=URL('api', 'memo_toggle_public', user_signature=True)}}";
		var memo_delete_url = "{{=URL('api', 'memo_delete', user_signature=True)}}";
</script>
{{end}}

<div class="main_content">

		<div id="vue-div" class="display:none">
				<!-- Your code goes here.  Remember to call $("#vue-div").show() once you get the data for the first time. -->
				
				<!-- Logged in users only -->
				<div v-if="logged_in">
					<h1>Personal Memos</h1>
					
					<!-- Create new memos -->
					<div class="new-memos">
						<!-- Button always visible, 
								 Toggles form on click -->
						<button v-on:click="new_memo_open = !new_memo_open; form_new_memo_clear()">
							<span v-if="!new_memo_open"><i class="fa fa-plus"></i> Add</span>
							<span v-if="new_memo_open"><i class="fa fa-close"></i> Cancel</span>
						</button>
						
						<!-- New memos -->
						<form v-if="new_memo_open" action="#" v-on:submit.prevent>
							<label>Title
							<input v-model="form_new_memo_title" type="text" /></label>
							
							<label>Memo Contents
							<textarea v-model="form_new_memo_content"></textarea></label>
							
							<button v-on:click="new_memo()"><i class="fa fa-plus"></i> Submit</button>
						</form>
					</div>
					
					<!-- Only display user owned memos -->
					<div v-for="checklist in checklists" v-if="checklist.user_email == email" class="memo">
						<!-- Display memo -->
						<div v-if="!checklist.is_editing">
							<h2>${checklist.title}</h2>
							<p>${checklist.memo}</p>
						</div>
						
						<!-- Edit memo -->
						<form v-if="checklist.is_editing" action="#" v-on:submit.prevent>
							<label>Title
							<input v-model="checklist.edit_title" type="text" /></label>
							
							<label>Memo Contents
							<textarea v-model="checklist.edit_memo"></textarea></label>
							
							<button v-on:click="memo_edit(checklist)"><i class="fa fa-edit"></i> Edit</button>
							<button v-on:click="checklist.is_editing = false"><i class="fa fa-close"></i> Cancel</button>
						</form>
						
						<!-- Memo buttons -->
						<div class="buttons" v-if="!checklist.is_editing">
							<!-- Public -->
							<button class="btn" v-on:click="toggle_memo_toggle_public(checklist.id)">
		          	<i v-if="checklist.is_public" class="fa fa-users"></i>
		          	<i v-if="!checklist.is_public" class="fa fa-user"></i>
			        </button>
			        
			        <!-- Edit -->
			        <button class="btn" v-on:click="// Need to always ensure we have fresh data
			        																				checklist = prepare_memo(checklist);
			        																				checklist.is_editing = true">
		          	<i class="fa fa-edit"></i>
			        </button>
			        
			        <!-- Delete -->
			        <button class="btn" v-on:click="memo_delete(checklist.id)">
		          	<i class="fa fa-trash fa-lg"></i>
			        </button>
						</div>
					</div>
				</div>
				
				<!-- Public stuff -->
				<h1>Public Memos</h1>
				<div>
					<!-- List of public memos -->
					<div v-for="checklist in checklists" v-if="checklist.is_public" class="memo">
						<h2>${checklist.title}</h2>
						<p>${checklist.memo}</p>
						
						<div class="buttons">
							<button class="btn" v-on:click="toggle_memo_toggle_public(checklist.id)" v-bind:disabled="checklist.user_email != email">
								<i class="fa fa-users"></i>
							</button>
						</div>
					</div>
				</div>
		</div>
</div>

<script src="{{=URL('static', 'js/default_index.js')}}"></script>
