* {box-sizing: border-box}

/* Container needed to position the overlay. Adjust the width as needed */
.jkung1 {
  position: relative;
  width: 50%;
  max-width: 300px;
}

/* Make the image to responsive */
.jkung2 {
  display: block;
}

.tipatel1 {
  position: relative;
  width: 50%;
  max-width: 300px;
}

/* Make the image to responsive */
.tipatel2 {
  display: block;
}

.akpatnam1 {
  position: relative;
  width: 50%;
  max-width: 300px;
}

/* Make the image to responsive */
.akpatnam2 {
  display: block;
}
.srrangar1 {
  position: relative;
  width: 50%;
  max-width: 300px;
}

/* Make the image to responsive */
.srrangar2 {
  display: block;
}

/* The overlay effect - lays on top of the container and over the image */
.overlay {
  margin-left: 25%;
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 40%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

/* When you mouse over the container, fade in the overlay title */
.container:hover .overlay {
  opacity: 1;
}