/* line 1, ../sass/_main.scss */
.colorful {
  color: #bb8833;
}

/* line 5, ../sass/_main.scss */
div.main_content {
  padding: 10px;
}

/* line 9, ../sass/_main.scss */
div.add_btn {
  margin: 5px;
}
/* line 11, ../sass/_main.scss */
div.add_btn a {
  padding: 10px;
}

/* line 16, ../sass/_main.scss */
div.memo {
  margin: 5px;
  border: 2px solid gray;
  padding: 5px;
}
/* line 21, ../sass/_main.scss */
div.memo div.memo_title {
  font-weight: bold;
  font-size: 150%;
}
/* line 25, ../sass/_main.scss */
div.memo div.button_list {
  text-align: right;
  margin-top: 10px;
}
/* line 27, ../sass/_main.scss */
div.memo div.button_list div.buttons {
  display: inline-block;
}
/* line 31, ../sass/_main.scss */
div.memo div.button_list a.btn {
  padding: 10px;
}

div.image{
position: relative;
   bottom: 750px;
   left:960px;
}


.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}


.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}


.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}


@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}