h1 {
	font-size: 3em;
}

h2 {
	font-size: 2em;
	margin-top: 0;
}

.buttons {
	text-align: right;
}

.colorful {
  color: $clrHilight;
}

div.main_content {
  padding: 10px;
}

div.add_btn {
  margin: 5px;
  a {
    padding: 10px;
  }
}

div.memo {
  margin: 1em 0;
  border: 2px solid gray;
  padding: 0.25em 0.5em;

  div.memo_title {
    font-weight: bold;
    font-size: 150%;
  }
  div.button_list {
    text-align: right;
    div.buttons {
      display: inline-block;
    }
    margin-top: 10px;
    a.btn {
      padding: 10px;
    }
  }
}

// Makes a button appear disabled
.disabled, .disabled:hover, button[disabled], button[disabled]:hover {
  cursor: not-allowed;
  box-shadow: none;
  background-color: $bgDisabled;
}

.new-memos {
	
}

label {
	display: block;
}

form label {
	margin: 0.5em 0;
}
