{{extend 'layout.html'}}

{{block head}}
{{end}}

<div class="main_content">

  <!-- Here goes your main HTML code. -->
    {{if auth.user is not None:}}
    <div class="container">
        <div class="colleges">
            <a class="btn rounded" style="display: -moz-box;"><i class="fa fa-plus"></i> Cowell-Stevenson</a>
            <a class="btn rounded" style="display: -moz-box;"><i class="fa fa-plus"></i> Crown-Merill</a>
            <a class="btn rounded" style="display: -moz-box;"><i class="fa fa-plus"></i> College 9-10</a>
            <a class="btn rounded" style="display: -moz-box;"><i class="fa fa-plus"></i> Kresge-Porter</a>
            <a class="btn rounded" style="display: -moz-box;"><i class="fa fa-plus"></i> Oaks-Rachel Carson College</a>
        </div>
    </div>

    <div class="container">
        <div class="timeofday">
            <a class="btn rounded" style="display: -moz-box;"><i class="fa fa-plus"></i> Breakfast </a>
            <a class="btn rounded" style="display: -moz-box;"><i class="fa fa-plus"></i> Lunch </a>
            <a class="btn rounded" style="display: -moz-box;"><i class="fa fa-plus"></i> Dinner </a>
        </div>
    </div>

    <!--
    <div class="container">
        <div class="cowell">
            <img src="/img/background.jpg" width="75px" height="75px">
            <button class="btn">Button</button>
        </div>
    </div>
    -->


    {{pass}}

</div>
